:root {
    font-size: 30px;
}
img {
    position: absolute;
    z-index: -1;
    transform: scale(1.5);
}

.left {
    left: 0;
}
.right {
    right: 0;
}

body {
    padding: 1rem;
    margin: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
}

input {
    font-size: inherit;
    border: 4px solid;
    text-align: center;
    min-width: calc(100vw - 5rem);
    background-color: white;
}

.d-grid {
    display: grid;
}
.d-flex {
    display: flex;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}

.cfr0 {
    grid-template-columns: 1fr auto;
}
.c0fr {
    grid-template-columns: auto 1fr;
}

.t-center {
    text-align: center;
}
.t-end {
    text-align: end;
}

.ai-start {
    align-items: start;
}
.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}
.ji-center {
    justify-items: center;
}

.br50 {
    border-radius: 50%;
}

.red {
    color: red;
    font-size: inherit;
}

.bold {
    font-weight: bold;
}

.main {
    background-color: green;
    color: white;
    border-radius: 4rem;
    padding: 1rem 4rem;
    max-width: fit-content;
    font-size: 1rem;
}

@media print
{    
    input {
        border: none;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}

